.scrollable {
    overflow-y: auto;
    height: 70vh;
}

.fullscreen {
    width: 100%;
    overflow-y: scroll;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: white;
    height: 100%;
}

.right {
    left: 30%;
}

.background-griss {
    background-color: #f2f2f2;
}

.label {
    font-weight: bold;
}

@media(max-width:500px){
    .right {
        left: 5%;
    }
 }